body{
    background-color: wheat;
    overflow-x: hidden; /* escondemos la barra en el eje X y dejamos el desplazamiento en el eje Y */
    overflow-y: auto;   
    scrollbar-width: thin; 
}
@media (min-width: 800px) {
    .botones{
        padding-top: 10%;
    }
}
.colorNav{
    background-color: #65727c;
}