<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center align-items-center" style="height: 60vh;">
    <div class="d-grid gap-2 col-6 mx-auto botones">
        <form action="/patronDiseño/panel/view/crudOOP.php" class="d-grid col-12 mx-auto">
            <input type="submit" value="Usuarios" class="btn btn-secondary">
        </form>
        <form action="/patronDiseño/panel/view/categorias/categorias.php" class="d-grid col-12 mx-auto">
            <input type="submit" value="Categorias" class="btn btn-secondary">
        </form>
        <form action="/patronDiseño/panel/view/entradas/entradas.php" class="d-grid col-12 mx-auto">
            <input type="submit" value="Entradas" class="btn btn-secondary">
        </form>
        <form action="/patronDiseño/panel/controllers/users/eliminarSesion.php" class="d-grid col-12 mx-auto">
            <input type="submit" value="Volver al menu" class="btn btn-secondary">
        </form>
    </div>
</div>
