<nav class="navbar navbar-expand-lg colorNav">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="/patronDiseño/panel/uploads/panel/diario.png" alt="" width="40" height="34" class="d-inline-block align-text-top">
          Panel de control
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="/patronDiseño/panel/view/crudOOP.php">Usuarios</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/patronDiseño/panel/view/categorias/categorias.php">Categorías</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/patronDiseño/panel/view/entradas/entradas.php">Entradas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/patronDiseño/panel/view/comentarios/comentarios.php">Comentarios</a>
                </li>
              <li class="nav-item">
                  <a class="nav-link" href="/patronDiseño/panel/controllers/users/eliminarSesion.php">Volver al menu</a>
              </li>
          </ul>
      </div>
  </div>
</nav>